# Series
core data strucutres
A cross between list and a dictionary

index and data
If omitted, the index is the progressive row number

In [2]:
import pandas as pd
pd.Series?

In [6]:
animals = pd.Series(['some','other','stuff'])
animals

0     some
1    other
2    stuff
dtype: object

In [7]:
numbs = pd.Series([1,2,3])
numbs

0    1
1    2
2    3
dtype: int64

# handing missing data
Missing numbers are NaN

In [8]:
nums = pd.Series([1,2,None])
nums
#note that the type is converted from base64 into float64, and null is converted to NaN
# note that nan doesn't work with the common euqality

0    1.0
1    2.0
2    NaN
dtype: float64

In [9]:
import numpy as np
np.nan == np.nan

False

In [10]:
sports = {"football": 'italy', "golf": "scotland"}
spo = pd.Series(sports)
spo

football       italy
golf        scotland
dtype: object

In [12]:
spo.index

Index(['football', 'golf'], dtype='object')

In [17]:
missing = pd.Series(data=['a','b','d'], index=[0,1,3])
missing

0    a
1    b
3    d
dtype: object

# query series loc and iloc
location
indice of location

In [20]:
sports = {"football": 'italy', "golf": "scotland", 'sumo': 'japan'}
spo = pd.Series(sports)
spo.iloc[1]

'scotland'

In [21]:
spo.iloc[2]

'japan'

In [23]:
spo.loc['football']

'italy'

In [24]:
spo[1]

'scotland'

In [25]:
spo['football']

'italy'

# working with data

## iteration

In [26]:
import numpy as np
s = pd.Series([1,3,4,5,6.0])
s

0    1.0
1    3.0
2    4.0
3    5.0
4    6.0
dtype: float64

In [27]:
total = np.sum(s)
total

19.0

In [ ]:
# let's try with a large amount of data

In [31]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    804
1    545
2    997
3    307
4    711
dtype: int64

In [32]:
len(s)

10000

# magic function - start with the % Like for esample the %%timeit

In [35]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

1.32 ms ± 166 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [36]:
%%timeit -n 100
summa = np.sum(s)

59.2 µs ± 13.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# this is why vectorization and parallelization is important
## if you are iterating over a series, you are most likely doing it WRONG!!

# the append does not change the underlying structure, but rather returns a join!

# DataFrames!!!!
It is the heart of the pandas
Two dimensional structure. It is a two axis labeled array.

In [42]:
purchase_1 = pd.Series({'Name' : "Andrea","item": "sku_1", "cost" : 22})
purchase_2 = pd.Series({'Name' : "Enrico","item": "sku_2", "cost" : 23})
purchase_3 = pd.Series({'Name' : "Marirosa","item": "sku_3", "cost" : 25})


df = pd.DataFrame([purchase_1,purchase_2,purchase_3], index = ['this','there','else'])
df

           Name  cost   item
this     Andrea    22  sku_1
there    Enrico    23  sku_2
else   Marirosa    25  sku_3

In [45]:
print(df.iloc[2])
print(df.loc['there'])

Name    Marirosa
cost          25
item       sku_3
Name: else, dtype: object
Name    Enrico
cost        23
item     sku_2
Name: there, dtype: object

In [47]:
df = pd.DataFrame([purchase_1,purchase_2,purchase_3], index = ['this','this','else'])

In [48]:
print(df.loc['this'])

        Name  cost   item
this  Andrea    22  sku_1
this  Enrico    23  sku_2

In [51]:
df['item']

this    sku_1
this    sku_2
else    sku_3
Name: item, dtype: object

# iloc (for row number) loc (row index, list of column names) and col name are the basic way to get data in and out df

In [52]:
#You can use as well this to filter
df.loc['this', 'item']

this    sku_1
this    sku_2
Name: item, dtype: object

In [53]:
print(df.T)

        this    this      else
Name  Andrea  Enrico  Marirosa
cost      22      23        25
item   sku_1   sku_2     sku_3

In [55]:
df.loc['this']['item']

this    sku_1
this    sku_2
Name: item, dtype: object

In [58]:
# you can use the slice as well, in order to get all the items
df.loc[:,['item', 'Name']]

       item      Name
this  sku_1    Andrea
this  sku_2    Enrico
else  sku_3  Marirosa

# dropping data

In [61]:
df.drop('else')

        Name  cost   item
this  Andrea    22  sku_1
this  Enrico    23  sku_2

In [65]:
# you can drop a column by specifying the axis - axis 1 is on the column

df.drop('Name', axis=1)

      cost   item
this    22  sku_1
this    23  sku_2
else    25  sku_3

In [67]:
df['New'] = None

          Name  cost   item   New
this    Andrea    22  sku_1  None
this    Enrico    23  sku_2  None
else  Marirosa    25  sku_3  None

In [74]:
%%timeit -n 100
# excercise - apply a constant factor
a = df['cost'] * 0.8

104 µs ± 19.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [75]:
%%timeit -n 100
df['cost'] *= 0.8

513 µs ± 147 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# DAtaframe indexing and loading 

Data is normally copied by reference, not by value. Meaning that, if you change the data, you will change the underlying data - unless you make a specific copy.

In [77]:
# execute shell commands
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [82]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [83]:
pd.read_csv?

# rename the colums, in place!

In [84]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [85]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

# Boolean masking

makes stuff reallly quick in efficient np and panda

You can combine them as well

In [86]:
# this generates a boolean mask
df['Gold'] > 0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool

In [87]:
#now we overlap to a dataframe  with a  function, but the mask

filterf = df.where(df['Gold'] > 0)
filterf

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
Austria (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
Azerbaijan (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
Bahamas (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
Bahrain (BRN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barbados (BAR) [BAR],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belarus (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
Belgium (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
Bermuda (BER),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bohemia (BOH) [BOH] [Z],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Botswana (BOT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
British West Indies (BWI) [BWI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
Burundi (BDI),5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0
Cameroon (CMR),13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0
Canada (CAN),25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0
Chile (CHI) [I],22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0
China (CHN) [CHN],9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0
Colombia (COL),18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0
Costa Rica (CRC),14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0
Ivory Coast (CIV) [CIV],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Croatia (CRO),6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0
Cuba (CUB) [Z],19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0
Cyprus (CYP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sudan (SUD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suriname (SUR) [E],11.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,2.0
Sweden (SWE) [Z],26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0
Switzerland (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0
Syria (SYR),12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0
Chinese Taipei (TPE) [TPE] [TPE2],13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0
Tajikistan (TJK),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania (TAN) [TAN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thailand (THA),15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0
Togo (TOG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tonga (TGA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trinidad and Tobago (TRI) [TRI],16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0
Tunisia (TUN),13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0
Turkey (TUR),21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0
Uganda (UGA),14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0
Ukraine (UKR),5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0
United Arab Emirates (UAE),8.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
United States (USA) [P] [Q] [R] [Z],26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0
Uruguay (URU),20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0
Uzbekistan (UZB),5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0
Venezuela (VEN),17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0
Vietnam (VIE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (ISV),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia (YUG) [YUG],16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0
Independent Olympic Participants (IOP) [IOP],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia (ZAM) [ZAM],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

In [90]:
filterf['Gold'].count()

100

In [91]:
# filter out the not a number
filterf = filterf.dropna()

In [93]:
filterf.shape

(100, 15)

In [101]:
df[(df['Gold.1'] >0) & (df['Gold'] ==0)]

Liechtenstein (LIE)    9
Name: Combined total, dtype: int64

# Indexes!

In [102]:
df['country'] = df.index

In [103]:
df = df.set_index('Gold')

In [105]:
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

## multilevel indexes - hyerarchibal labeling

In [108]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [116]:
df.set_index(['STNAME','CTYNAME'])
df

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Autauga County          50       3         6      1       1
          Baldwin County          50       3         6      1       3
          Barbour County          50       3         6      1       5
          Bibb County             50       3         6      1       7
          Blount County           50       3         6      1       9
          Bullock County          50       3         6      1      11
          Butler County           50       3         6      1      13
          Calhoun County          50       3         6      1      15
          Chambers County         50       3         6      1      17
          Cherokee County         50       3         6      1      19
          Chilton County          50       3         6      1      21
          Choctaw County          50       3         6      1      23
          Clarke County           50       3         6      1      25
          Clay County             50       3         6      1      27
          Cleburne County         50       3         6      1      29
          Coffee County           50       3         6      1      31
          Colbert County          50       3         6      1      33
          Conecuh County          50       3         6      1      35
          Coosa County            50       3         6      1      37
          Covington County        50       3         6      1      39
          Crenshaw County         50       3         6      1      41
          Cullman County          50       3         6      1      43
          Dale County             50       3         6      1      45
          Dallas County           50       3         6      1      47
          DeKalb County           50       3         6      1      49
          Elmore County           50       3         6      1      51
          Escambia County         50       3         6      1      53
          Etowah County           50       3         6      1      55
          Fayette County          50       3         6      1      57
          Franklin County         50       3         6      1      59
...                              ...     ...       ...    ...     ...
Wisconsin Washburn County         50       2         3     55     129
          Washington County       50       2         3     55     131
          Waukesha County         50       2         3     55     133
          Waupaca County          50       2         3     55     135
          Waushara County         50       2         3     55     137
          Winnebago County        50       2         3     55     139
          Wood County             50       2         3     55     141
Wyoming   Albany County           50       4         8     56       1
          Big Horn County         50       4         8     56       3
          Campbell County         50       4         8     56       5
          Carbon County           50       4         8     56       7
          Converse County         50       4         8     56       9
          Crook County            50       4         8     56      11
          Fremont County          50       4         8     56      13
          Goshen County           50       4         8     56      15
          Hot Springs County      50       4         8     56      17
          Johnson County          50       4         8     56      19
          Laramie County          50       4         8     56      21
          Lincoln County          50       4         8     56      23
          Natrona County          50       4         8     56      25
          Niobrara County         50       4         8     56      27
          Park County             50       4         8     56      29
          Platte County           50       4         8     56      31
          Sheridan County         50       4         8     56      33
          Sublette County         50       4         8     56      35
          Sweetwater County       50       4         8     56      37
          Teton County            50       4         8     56      39
          Uinta County            50       4         8     56      41
          Washakie County         50       4         8     56      43
          Weston County           50       4         8     56      45

                              CENSUS2010POP  ESTIMATESBASE2010  \
STNAME    CTYNAME
Alabama   Autauga County              54571              54571
          Baldwin County             182265             182265
          Barbour County              27457              27457
          Bibb County                 22915              22919
          Blount County               57322              57322
          Bullock County              10914              10915
          Butler County               20947              20946
          Calhoun County             118572             118586
          Chambers County             34215              34170
          Cherokee County             25989              25986
          Chilton County              43643              43631
          Choctaw County              13859              13858
          Clarke County               25833              25840
          Clay County                 13932              13932
          Cleburne County             14972              14972
          Coffee County               49948              49948
          Colbert County              54428              54428
          Conecuh County              13228              13228
          Coosa County                11539              11758
          Covington County            37765              37765
          Crenshaw County             13906              13906
          Cullman County              80406              80410
          Dale County                 50251              50251
          Dallas County               43820              43820
          DeKalb County               71109              71115
          Elmore County               79303              79296
          Escambia County             38319              38319
          Etowah County              104430             104427
          Fayette County              17241              17241
          Franklin County             31704              31709
...                                     ...                ...
Wisconsin Washburn County             15911              15911
          Washington County          131887             131885
          Waukesha County            389891             389938
          Waupaca County              52410              52410
          Waushara County             24496              24496
          Winnebago County           166994             166994
          Wood County                 74749              74749
Wyoming   Albany County               36299              36299
          Big Horn County             11668              11668
          Campbell County             46133              46133
          Carbon County               15885              15885
          Converse County             13833              13833
          Crook County                 7083               7083
          Fremont County              40123              40123
          Goshen County               13249              13247
          Hot Springs County           4812               4812
          Johnson County               8569               8569
          Laramie County              91738              91881
          Lincoln County              18106              18106
          Natrona County              75450              75450
          Niobrara County              2484               2484
          Park County                 28205              28205
          Platte County                8667               8667
          Sheridan County             29116              29116
          Sublette County             10247              10247
          Sweetwater County           43806              43806
          Teton County                21294              21294
          Uinta County                21118              21118
          Washakie County              8533               8533
          Weston County                7208               7208

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Autauga County                54660            55253
          Baldwin County               183193           186659
          Barbour County                27341            27226
          Bibb County                   22861            22733
          Blount County                 57373            57711
          Bullock County                10887            10629
          Butler County                 20944            20673
          Calhoun County               118437           117768
          Chambers County               34098            33993
          Cherokee County               25976            26080
          Chilton County                43665            43739
          Choctaw County                13841            13593
          Clarke County                 25767            25570
          Clay County                   13880            13670
          Cleburne County               14973            14971
          Coffee County                 50177            50448
          Colbert County                54514            54443
          Conecuh County                13208            13121
          Coosa County                  11758            11348
          Covington County              37796            38060
          Crenshaw County               13853            13896
          Cullman County                80473            80469
          Dale County                   50358            50109
          Dallas County                 43803            43178
          DeKalb County                 71142            71387
          Elmore County                 79465            80012
          Escambia County               38309            38213
          Etowah County                104442           104236
          Fayette County                17231            17062
          Franklin County               31734            31729
...                                       ...              ...
Wisconsin Washburn County               15930            15784
          Washington County            131967           132225
          Waukesha County              390076           390808
          Waupaca County                52422            52342
          Waushara County               24506            24581
          Winnebago County             167059           167630
          Wood County                   74807            74647
Wyoming   Albany County                 36428            36908
          Big Horn County               11672            11745
          Campbell County               46244            46600
          Carbon County                 15837            15817
          Converse County               13826            13728
          Crook County                   7114             7129
          Fremont County                40222            40591
          Goshen County                 13408            13597
          Hot Springs County             4813             4818
          Johnson County                 8581             8636
          Laramie County                92271            92663
          Lincoln County                18091            18022
          Natrona County                75472            76420
          Niobrara County                2492             2485
          Park County                   28259            28473
          Platte County                  8678             8701
          Sheridan County               29146            29275
          Sublette County               10244            10142
          Sweetwater County             43593            44041
          Teton County                  21297            21482
          Uinta County                  21102            20912
          Washakie County                8545             8469
          Weston County                  7181             7114

                              POPESTIMATE2012     ...       RDOMESTICMIG2011  \
STNAME    CTYNAME                                 ...
Alabama   Autauga County                55175     ...               7.242091
          Baldwin County               190396     ...              14.832960
          Barbour County                27159     ...              -4.728132
          Bibb County                   22642     ...              -5.527043
          Blount County                 57776     ...               1.807375
          Bullock County                10606     ...             -30.953709
          Butler County                 20408     ...             -14.032727
          Calhoun County               117286     ...              -6.155670
          Chambers County               34075     ...              -2.731639
          Cherokee County               26023     ...               6.339327
          Chilton County                43697     ...              -1.372935
          Choctaw County                13543     ...             -15.455274
          Clarke County                 25144     ...              -6.194363
          Clay County                   13456     ...             -10.744102
          Cleburne County               14921     ...              -3.673524
          Coffee County                 51173     ...               0.377640
          Colbert County                54472     ...              -0.073423
          Conecuh County                12996     ...              -4.861559
          Coosa County                  11195     ...             -33.930581
          Covington County              37818     ...               6.696899
          Crenshaw County               13951     ...               1.729792
          Cullman County                80374     ...              -1.404233
          Dale County                   50324     ...             -10.749798
          Dallas County                 42777     ...             -15.635599
          DeKalb County                 70942     ...               0.294677
          Elmore County                 80432     ...               3.235576
          Escambia County               38034     ...              -3.449988
          Etowah County                104235     ...              -1.015919
          Fayette County                16960     ...              -5.015601
          Franklin County               31648     ...              -1.638750
...                                       ...     ...                    ...
Wisconsin Washburn County               15831     ...              -6.873936
          Washington County            132649     ...              -0.794876
          Waukesha County              392710     ...              -0.765799
          Waupaca County                52035     ...               3.111756
          Waushara County               24484     ...               4.930022
          Winnebago County             168717     ...               0.316712
          Wood County                   74384     ...              -4.081523
Wyoming   Albany County                 37396     ...               3.708956
          Big Horn County               11785     ...               4.868258
          Campbell County               47881     ...              -2.843479
          Carbon County                 15678     ...              -7.581980
          Converse County               14025     ...             -12.847499
          Crook County                   7148     ...              -1.544618
          Fremont County                41129     ...               2.747083
          Goshen County                 13666     ...              14.293649
          Hot Springs County             4846     ...               3.322604
          Johnson County                 8610     ...               4.995063
          Laramie County                94894     ...              -1.200428
          Lincoln County                17943     ...              -9.802564
          Natrona County                78699     ...               7.189319
          Niobrara County                2475     ...              -0.401849
          Park County                   28863     ...               4.582951
          Platte County                  8732     ...               4.373094
          Sheridan County               29594     ...               0.958559
          Sublette County               10418     ...             -23.741784
          Sweetwater County             45104     ...               1.072643
          Teton County                  21697     ...              -1.589565
          Uinta County                  20989     ...             -17.755986
          Washakie County                8443     ...             -11.637475
          Weston County                  7065     ...             -11.752361

                              RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME    CTYNAME
Alabama   Autauga County             -2.915927         -3.012349
          Baldwin County             17.647293         21.845705
          Barbour County             -2.500690         -7.056824
          Bibb County                -5.068871         -6.201001
          Blount County              -1.177622         -1.748766
          Bullock County             -5.180127         -1.130263
          Butler County             -11.684234         -5.655413
          Calhoun County             -4.611706         -5.524649
          Chambers County             3.849092          2.872721
          Cherokee County             1.113180          5.488706
          Chilton County             -2.653369          0.480044
          Choctaw County             -0.737028         -8.766391
          Clarke County             -17.667705         -0.318345
          Clay County               -13.345130          4.902871
          Cleburne County            -5.151880          7.345821
          Coffee County               7.675579        -13.146535
          Colbert County              1.065051          1.762390
          Conecuh County             -7.504690         -6.107224
          Coosa County              -10.291443         -4.313831
          Covington County           -4.612668          0.740271
          Crenshaw County             3.950156         -1.864936
          Cullman County             -1.019628          4.071247
          Dale County                -5.277150        -15.236079
          Dallas County             -11.308243        -16.745678
          DeKalb County              -9.302391         -1.748807
          Elmore County               0.822717          1.760531
          Escambia County            -3.855889         -4.822706
          Etowah County               2.062637         -1.931884
          Fayette County             -0.646640         -3.725937
          Franklin County            -5.459394         -8.043702
...                                        ...               ...
Wisconsin Washburn County             7.338289         -6.732724
          Washington County           0.785279         -2.215465
          Waukesha County             2.128860          0.038132
          Waupaca County             -2.241873          6.292687
          Waushara County            -2.404973         -4.097017
          Winnebago County            2.889873          0.833819
          Wood County                -5.019090         -6.901200
Wyoming   Albany County               2.637812         -3.544634
          Big Horn County             2.804930         16.815908
          Campbell County            15.601020         -5.895711
          Carbon County             -13.081441          3.178134
          Converse County            15.493820         19.035533
          Crook County               -4.202564          1.397819

In [124]:
print(df.loc['Washington', 'King County'])

SUMLEV                   5.000000e+01
REGION                   4.000000e+00
DIVISION                 9.000000e+00
STATE                    5.300000e+01
COUNTY                   3.300000e+01
CENSUS2010POP            1.931249e+06
ESTIMATESBASE2010        1.931256e+06
POPESTIMATE2010          1.937699e+06
POPESTIMATE2011          1.972548e+06
POPESTIMATE2012          2.009200e+06
POPESTIMATE2013          2.047618e+06
POPESTIMATE2014          2.082288e+06
POPESTIMATE2015          2.117125e+06
NPOPCHG_2010             6.443000e+03
NPOPCHG_2011             3.484900e+04
NPOPCHG_2012             3.665200e+04
NPOPCHG_2013             3.841800e+04
NPOPCHG_2014             3.467000e+04
NPOPCHG_2015             3.483700e+04
BIRTHS2010               6.302000e+03
BIRTHS2011               2.450800e+04
BIRTHS2012               2.447600e+04
BIRTHS2013               2.515200e+04
BIRTHS2014               2.519800e+04
BIRTHS2015               2.567800e+04
DEATHS2010               2.829000e+03
DEATHS2011               1.214600e+04
DEATHS2012               1.196700e+04
DEATHS2013               1.248700e+04
DEATHS2014               1.285700e+04
                             ...
RBIRTH2011               1.253527e+01
RBIRTH2012               1.229410e+01
RBIRTH2013               1.239987e+01
RBIRTH2014               1.220270e+01
RBIRTH2015               1.222933e+01
RDEATH2011               6.212395e+00
RDEATH2012               6.010928e+00
RDEATH2013               6.156056e+00
RDEATH2014               6.226292e+00
RDEATH2015               6.174196e+00
RNATURALINC2011          6.322874e+00
RNATURALINC2012          6.283170e+00
RNATURALINC2013          6.243810e+00
RNATURALINC2014          5.976407e+00
RNATURALINC2015          6.055132e+00
RINTERNATIONALMIG2011    6.474783e+00
RINTERNATIONALMIG2012    6.540846e+00
RINTERNATIONALMIG2013    7.042465e+00
RINTERNATIONALMIG2014    7.868944e+00
RINTERNATIONALMIG2015    7.748226e+00
RDOMESTICMIG2011         5.141363e+00
RDOMESTICMIG2012         5.472471e+00
RDOMESTICMIG2013         5.662073e+00
RDOMESTICMIG2014         3.337122e+00
RDOMESTICMIG2015         2.840873e+00
RNETMIG2011              1.161615e+01
RNETMIG2012              1.201332e+01
RNETMIG2013              1.270454e+01
RNETMIG2014              1.120607e+01
RNETMIG2015              1.058910e+01
Name: (Washington, King County), Length: 98, dtype: float64

In [144]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
# df = df.set_index([df.index,'Name']);


df['Location'] = df.index
df = df.set_index(['Location','Name'])
df
df = df.append(pd.Series(data = {'Item Purchased' :'Kitty litter', 'Cost' : 3}, name = ('Store 2','Kevin')))
df                                                                                       

# Your answer here
# 
# df
# 
# df =

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevin   3.0   Kitty litter

In [145]:
pd.Series?

In [131]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevyn   3.0     Kitty Food

# missing values

In [147]:
df  = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [149]:
df.fillna?

In [152]:
df = df.reset_index()
df = df.set_index(['time','user'])
df = df.sort_index()
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [153]:
df.reset_index?